{% extends "base.html" %}
{% load static %}

{% block page_title %}
All reviews
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'bookstore/styles.css' %}">
{% endblock %}

{% block content %}
<h1>
    {{ review.user_name }}
</h1>
<h2>
    Rating: {{ review.rating }}
</h2>
<p>
    {{ review.review_text }}
</p>
{% if is_favourite %}
<p>
    This is my favourite!
</p>
{% else %}
<form action="favourite" method="post">
    {% csrf_token %}
    <input type="hidden" name="review_id" value="{{ review.id }}">
    <button>Favourite</button>
</form>
{% endif %}
{% endblock %}