{% extends "blog.html" %}
{% load static %}

{% block page_title %}
{{ post.title }}
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">

{% endblock %}

{% block content %}
{% if comment_form.errors %}
<div id="alert">
    <h2>
        Saving the comment failed!
    </h2>
    <p>
        Please check the comment form and fix your errors!
    </p>
    <a href="#comment-form">Fix it</a>
</div>
{%endif %}
<section id="summary">
    <h2>
        {{ post.title }}
    </h2>
    <div class="post__content">
        <p>{{ post.excerpt }}</p>
    </div>
    <div>
        {% for tag in tags %}
            <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url 'read-later-page'  %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}"  name="post_id">
            <button>Read Later</button>
        </form>
    </div>
    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        <address>By <a href="mailto:{{ post.author.e_mail }}">{{ post.author }}</a></address>
        <div>Last updated on <time>{{ post.post_date|date:"Y M d"}}</time>
        </div>
    </article>
</section>


<main>
    <p>
        {{ post.content|linebreaks }}
    </p>
</main>
<section id="comments">
    <ul>
        {% for comment in comments %}
        <li>
            <h2>{{ comment.user_name }}</h2>
            <p>{{ comment.text|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="comment-form">
    <h2>Your Comment</h2>
    <form action="{% url 'post-detail-page' post.slug %}" method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control {% if field.errors %} invalid {% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button>Save Comment</button>
    </form>
</section>
{% endblock%}